[submodule "modeling/img23d/glm"]
	path = modeling/img23d/glm
	url = https://github.com/g-truc/glm

[submodule "fitting/vectorize/glm"]
	path = fitting/vectorize/glm
	url = https://github.com/g-truc/glm
