* text=auto
* text eol=lf

*.bin binary
*.raw binary
*.bmp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.hdr binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.stl binary
*.ply binary
*.glb binary
*.blend binary
*.exe binary
*.wasm binary
*.pyc binary
*.pth binary
*.pdf binary

*.ipynb linguist-vendored

