airplane.ply
airplane.png
ant.ply
ant.png
apple.ply
apple.png
balance.ply
balance.png
beethoven.ply
beethoven.png
big_atc.ply
big_atc.png
big_dodge.ply
big_dodge.png
big_porsche.ply
big_porsche.png
big_spider.ply
big_spider.png
canstick.ply
canstick.png
chopper.ply
chopper.png
cow.ply
cow.png
cube.ply
cube.png
dart.ply
dart.png
dodecahedron.ply
dodecahedron.png
dolphins.ply
dolphins.png
egret.ply
egret.png
ellell.ply
ellell.png
f16.ply
f16.png
footbones.ply
footbones.png
fracttree.ply
fracttree.png
galleon.ply
galleon.png
hammerhead.ply
hammerhead.png
head1.ply
head1.png
head2.ply
head2.png
helix.ply
helix.png
hind.ply
hind.png
icosahedron.ply
icosahedron.png
kerolamp.ply
kerolamp.png
ketchup.ply
ketchup.png
mug.ply
mug.png
octahedron.ply
octahedron.png
part.ply
part.png
pickup_big.ply
pickup_big.png
pump.ply
pump.png
pyramid.ply
pyramid.png
sandal.ply
sandal.png
saratoga.ply
saratoga.png
scissors.ply
scissors.png
shark.ply
shark.png
skull.ply
skull.png
sphere.ply
sphere.png
steeringweel.ply
steeringweel.png
stratocaster.ply
stratocaster.png
street_lamp.ply
street_lamp.png
symphysis.ply
symphysis.png
teapot.ply
teapot.png
tennis_shoe.ply
tennis_shoe.png
tetrahedron.ply
tetrahedron.png
tommygun.ply
tommygun.png
trashcan.ply
trashcan.png
turbine.ply
turbine.png
urn2.ply
urn2.png
walkman.ply
walkman.png
weathervane.ply
weathervane.png